<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
    <style> 
    </style>
    <nav>
    <ul>
      <li style="float:right"><a class="active" routerLink ="/home" routerLinkActive="active">主页</a></li>
      <li style="float:right"><a class="active" routerLink ="/news" routerLinkActive="active">新闻</a></li>
      <li style="float:right"><a class="active" routerLink ="/contact" routerLinkActive="active">联系我们</a></li>
      <li style="float:right"><a class="active" routerLink ="/about" routerLinkActive="active">关于</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
    </div>